# Basic Data Analysis with Pandas

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('C:/Users/PMLS/Desktop/Project - 2/Pandas CSV reader & basic analysis/dataset_toyota.csv') # loading dataset while using path of the file

In [3]:
df # looking at the file data

,record_id,date,city,plant,vehicle_variant,shift,units_checked,defects_found,repair_hours,scrap_weight,inspection_team
0,R01A,45658,Karachi,Karachi Plant,Corolla X,A,200,1,2,10.0,Team A
1,R01B,45658,Lahore,Lahore Plant,Yaris,B,150,0,1,5.0,Team B
2,R02A,45689,KARACHI,Karachi Plant,Revo,A,300,2,3,15.0,Team A
3,R02B,45689,lahore,Lahore Plant,Corolla Altis,B,NaN,?,missing,20.0,Team C
4,R03A,45717,Karachi,Karachi Plant,Fortuner,A,600,3,12,300.0,Team A
5,R03B,45717,LAHORE,Lahore Plant,Yaris,B,100,-5,1,NaN,Team B
6,R04A,45748,NaN,Karachi Plant,Corolla X,A,bad,1,-1,15.0,Team C
7,R04B,45748,Karachi,Karachi Plant,Revo,B,200,2,3,15.0,Team A
8,R05A,45778,Lahore,Lahore Plant,Corolla Altis,A,150,1,missing,10.0,Team B
9,R05B,45778,Karachi,Karachi Plant,Yaris,B,300,3,2,20.0,Team C
10,R06A,45809,NaN,Karachi Plant,Revo,A,100,0,1,5.0,Team A
11,R06B,45809,lahore,Lahore Plant,Corolla X,B,200,2,3,10.0,Team B
12,R07A,45839,KARACHI,Karachi Plant,Fortuner,A,300,3,12,300.0,Team C
13,R07B,45839,Karachi,Karachi Plant,Yaris,B,150,0,1,10.0,Team A
14,R08A,45870,LAHORE,Lahore Plant,Corolla X,A,200,1,2,5.0,Team B
15,R08B,45870,Karachi,Karachi Plant,Revo,B,300,2,3,15.0,Team C
16,R09A,45901,Lahore,Lahore Plant,Yaris,A,500,1,2,20.0,Team A
17,R09B,45901,KARACHI,Karachi Plant,Corolla Altis,B,600,3,12,300.0,Team B
18,R10A,45931,lahore,Lahore Plant,Fortuner,A,150,0,1,5.0,Team C
19,R10B,45931,Karachi,Karachi Plant,Revo,B,200,2,3,10.0,Team A

# Inspecting Data

In [4]:
df.head()

,record_id,date,city,plant,vehicle_variant,shift,units_checked,defects_found,repair_hours,scrap_weight,inspection_team
0,R01A,45658,Karachi,Karachi Plant,Corolla X,A,200,1,2,10.0,Team A
1,R01B,45658,Lahore,Lahore Plant,Yaris,B,150,0,1,5.0,Team B
2,R02A,45689,KARACHI,Karachi Plant,Revo,A,300,2,3,15.0,Team A
3,R02B,45689,lahore,Lahore Plant,Corolla Altis,B,NaN,?,missing,20.0,Team C
4,R03A,45717,Karachi,Karachi Plant,Fortuner,A,600,3,12,300.0,Team A

In [5]:
df.tail()

,record_id,date,city,plant,vehicle_variant,shift,units_checked,defects_found,repair_hours,scrap_weight,inspection_team
15,R08B,45870,Karachi,Karachi Plant,Revo,B,300,2,3,15.0,Team C
16,R09A,45901,Lahore,Lahore Plant,Yaris,A,500,1,2,20.0,Team A
17,R09B,45901,KARACHI,Karachi Plant,Corolla Altis,B,600,3,12,300.0,Team B
18,R10A,45931,lahore,Lahore Plant,Fortuner,A,150,0,1,5.0,Team C
19,R10B,45931,Karachi,Karachi Plant,Revo,B,200,2,3,10.0,Team A

In [6]:
df.dtypes

record_id           object
date                 int64
city                object
plant               object
vehicle_variant     object
shift               object
units_checked       object
defects_found       object
repair_hours        object
scrap_weight       float64
inspection_team     object
dtype: object

# Computing Summary of Data

In [7]:
df.describe() # This describes the maximum, minimum, mean, median and standard deviation of the data.

               date  scrap_weight
count     20.000000     19.000000
mean   45794.000000     57.368421
std       89.481548    108.055650
min    45658.000000      5.000000
25%    45717.000000     10.000000
50%    45793.500000     15.000000
75%    45870.000000     20.000000
max    45931.000000    300.000000

# Filtering Rows, Selecting Columns and Slicing Subsets

In [8]:
df['units_checked'] = df['units_checked'].fillna(any)

In [9]:
df['units_checked'] = pd.to_numeric(df['units_checked'], errors='coerce')

In [10]:
df[df['units_checked'] > 150]

,record_id,date,city,plant,vehicle_variant,shift,units_checked,defects_found,repair_hours,scrap_weight,inspection_team
0,R01A,45658,Karachi,Karachi Plant,Corolla X,A,200.0,1,2,10.0,Team A
2,R02A,45689,KARACHI,Karachi Plant,Revo,A,300.0,2,3,15.0,Team A
4,R03A,45717,Karachi,Karachi Plant,Fortuner,A,600.0,3,12,300.0,Team A
7,R04B,45748,Karachi,Karachi Plant,Revo,B,200.0,2,3,15.0,Team A
9,R05B,45778,Karachi,Karachi Plant,Yaris,B,300.0,3,2,20.0,Team C
11,R06B,45809,lahore,Lahore Plant,Corolla X,B,200.0,2,3,10.0,Team B
12,R07A,45839,KARACHI,Karachi Plant,Fortuner,A,300.0,3,12,300.0,Team C
14,R08A,45870,LAHORE,Lahore Plant,Corolla X,A,200.0,1,2,5.0,Team B
15,R08B,45870,Karachi,Karachi Plant,Revo,B,300.0,2,3,15.0,Team C
16,R09A,45901,Lahore,Lahore Plant,Yaris,A,500.0,1,2,20.0,Team A
17,R09B,45901,KARACHI,Karachi Plant,Corolla Altis,B,600.0,3,12,300.0,Team B
19,R10B,45931,Karachi,Karachi Plant,Revo,B,200.0,2,3,10.0,Team A

In [11]:
df[['record_id','shift'][0:5]]

   record_id shift
0       R01A     A
1       R01B     B
2       R02A     A
3       R02B     B
4       R03A     A
5       R03B     B
6       R04A     A
7       R04B     B
8       R05A     A
9       R05B     B
10      R06A     A
11      R06B     B
12      R07A     A
13      R07B     B
14      R08A     A
15      R08B     B
16      R09A     A
17      R09B     B
18      R10A     A
19      R10B     B

In [12]:
df[:4]

,record_id,date,city,plant,vehicle_variant,shift,units_checked,defects_found,repair_hours,scrap_weight,inspection_team
0,R01A,45658,Karachi,Karachi Plant,Corolla X,A,200.0,1,2,10.0,Team A
1,R01B,45658,Lahore,Lahore Plant,Yaris,B,150.0,0,1,5.0,Team B
2,R02A,45689,KARACHI,Karachi Plant,Revo,A,300.0,2,3,15.0,Team A
3,R02B,45689,lahore,Lahore Plant,Corolla Altis,B,NaN,?,missing,20.0,Team C

In [13]:
df['city'] = df['city'].str.strip().str.lower()

In [14]:
df.head()

,record_id,date,city,plant,vehicle_variant,shift,units_checked,defects_found,repair_hours,scrap_weight,inspection_team
0,R01A,45658,karachi,Karachi Plant,Corolla X,A,200.0,1,2,10.0,Team A
1,R01B,45658,lahore,Lahore Plant,Yaris,B,150.0,0,1,5.0,Team B
2,R02A,45689,karachi,Karachi Plant,Revo,A,300.0,2,3,15.0,Team A
3,R02B,45689,lahore,Lahore Plant,Corolla Altis,B,NaN,?,missing,20.0,Team C
4,R03A,45717,karachi,Karachi Plant,Fortuner,A,600.0,3,12,300.0,Team A

In [15]:
df['city'] = df['city'].str.strip().str.title()

In [16]:
df

,record_id,date,city,plant,vehicle_variant,shift,units_checked,defects_found,repair_hours,scrap_weight,inspection_team
0,R01A,45658,Karachi,Karachi Plant,Corolla X,A,200.0,1,2,10.0,Team A
1,R01B,45658,Lahore,Lahore Plant,Yaris,B,150.0,0,1,5.0,Team B
2,R02A,45689,Karachi,Karachi Plant,Revo,A,300.0,2,3,15.0,Team A
3,R02B,45689,Lahore,Lahore Plant,Corolla Altis,B,NaN,?,missing,20.0,Team C
4,R03A,45717,Karachi,Karachi Plant,Fortuner,A,600.0,3,12,300.0,Team A
5,R03B,45717,Lahore,Lahore Plant,Yaris,B,100.0,-5,1,NaN,Team B
6,R04A,45748,NaN,Karachi Plant,Corolla X,A,NaN,1,-1,15.0,Team C
7,R04B,45748,Karachi,Karachi Plant,Revo,B,200.0,2,3,15.0,Team A
8,R05A,45778,Lahore,Lahore Plant,Corolla Altis,A,150.0,1,missing,10.0,Team B
9,R05B,45778,Karachi,Karachi Plant,Yaris,B,300.0,3,2,20.0,Team C
10,R06A,45809,NaN,Karachi Plant,Revo,A,100.0,0,1,5.0,Team A
11,R06B,45809,Lahore,Lahore Plant,Corolla X,B,200.0,2,3,10.0,Team B
12,R07A,45839,Karachi,Karachi Plant,Fortuner,A,300.0,3,12,300.0,Team C
13,R07B,45839,Karachi,Karachi Plant,Yaris,B,150.0,0,1,10.0,Team A
14,R08A,45870,Lahore,Lahore Plant,Corolla X,A,200.0,1,2,5.0,Team B
15,R08B,45870,Karachi,Karachi Plant,Revo,B,300.0,2,3,15.0,Team C
16,R09A,45901,Lahore,Lahore Plant,Yaris,A,500.0,1,2,20.0,Team A
17,R09B,45901,Karachi,Karachi Plant,Corolla Altis,B,600.0,3,12,300.0,Team B
18,R10A,45931,Lahore,Lahore Plant,Fortuner,A,150.0,0,1,5.0,Team C
19,R10B,45931,Karachi,Karachi Plant,Revo,B,200.0,2,3,10.0,Team A

In [17]:
df['repair_hours'] = pd.to_numeric(df['repair_hours'], errors='coerce')

In [18]:
df['repair_hours'] = df['repair_hours'].fillna(2)

In [19]:
df

,record_id,date,city,plant,vehicle_variant,shift,units_checked,defects_found,repair_hours,scrap_weight,inspection_team
0,R01A,45658,Karachi,Karachi Plant,Corolla X,A,200.0,1,2.0,10.0,Team A
1,R01B,45658,Lahore,Lahore Plant,Yaris,B,150.0,0,1.0,5.0,Team B
2,R02A,45689,Karachi,Karachi Plant,Revo,A,300.0,2,3.0,15.0,Team A
3,R02B,45689,Lahore,Lahore Plant,Corolla Altis,B,NaN,?,2.0,20.0,Team C
4,R03A,45717,Karachi,Karachi Plant,Fortuner,A,600.0,3,12.0,300.0,Team A
5,R03B,45717,Lahore,Lahore Plant,Yaris,B,100.0,-5,1.0,NaN,Team B
6,R04A,45748,NaN,Karachi Plant,Corolla X,A,NaN,1,-1.0,15.0,Team C
7,R04B,45748,Karachi,Karachi Plant,Revo,B,200.0,2,3.0,15.0,Team A
8,R05A,45778,Lahore,Lahore Plant,Corolla Altis,A,150.0,1,2.0,10.0,Team B
9,R05B,45778,Karachi,Karachi Plant,Yaris,B,300.0,3,2.0,20.0,Team C
10,R06A,45809,NaN,Karachi Plant,Revo,A,100.0,0,1.0,5.0,Team A
11,R06B,45809,Lahore,Lahore Plant,Corolla X,B,200.0,2,3.0,10.0,Team B
12,R07A,45839,Karachi,Karachi Plant,Fortuner,A,300.0,3,12.0,300.0,Team C
13,R07B,45839,Karachi,Karachi Plant,Yaris,B,150.0,0,1.0,10.0,Team A
14,R08A,45870,Lahore,Lahore Plant,Corolla X,A,200.0,1,2.0,5.0,Team B
15,R08B,45870,Karachi,Karachi Plant,Revo,B,300.0,2,3.0,15.0,Team C
16,R09A,45901,Lahore,Lahore Plant,Yaris,A,500.0,1,2.0,20.0,Team A
17,R09B,45901,Karachi,Karachi Plant,Corolla Altis,B,600.0,3,12.0,300.0,Team B
18,R10A,45931,Lahore,Lahore Plant,Fortuner,A,150.0,0,1.0,5.0,Team C
19,R10B,45931,Karachi,Karachi Plant,Revo,B,200.0,2,3.0,10.0,Team A

In [20]:
df['repair_hours'] = df['repair_hours'].replace(-1.0, 2)

In [21]:
df

,record_id,date,city,plant,vehicle_variant,shift,units_checked,defects_found,repair_hours,scrap_weight,inspection_team
0,R01A,45658,Karachi,Karachi Plant,Corolla X,A,200.0,1,2.0,10.0,Team A
1,R01B,45658,Lahore,Lahore Plant,Yaris,B,150.0,0,1.0,5.0,Team B
2,R02A,45689,Karachi,Karachi Plant,Revo,A,300.0,2,3.0,15.0,Team A
3,R02B,45689,Lahore,Lahore Plant,Corolla Altis,B,NaN,?,2.0,20.0,Team C
4,R03A,45717,Karachi,Karachi Plant,Fortuner,A,600.0,3,12.0,300.0,Team A
5,R03B,45717,Lahore,Lahore Plant,Yaris,B,100.0,-5,1.0,NaN,Team B
6,R04A,45748,NaN,Karachi Plant,Corolla X,A,NaN,1,2.0,15.0,Team C
7,R04B,45748,Karachi,Karachi Plant,Revo,B,200.0,2,3.0,15.0,Team A
8,R05A,45778,Lahore,Lahore Plant,Corolla Altis,A,150.0,1,2.0,10.0,Team B
9,R05B,45778,Karachi,Karachi Plant,Yaris,B,300.0,3,2.0,20.0,Team C
10,R06A,45809,NaN,Karachi Plant,Revo,A,100.0,0,1.0,5.0,Team A
11,R06B,45809,Lahore,Lahore Plant,Corolla X,B,200.0,2,3.0,10.0,Team B
12,R07A,45839,Karachi,Karachi Plant,Fortuner,A,300.0,3,12.0,300.0,Team C
13,R07B,45839,Karachi,Karachi Plant,Yaris,B,150.0,0,1.0,10.0,Team A
14,R08A,45870,Lahore,Lahore Plant,Corolla X,A,200.0,1,2.0,5.0,Team B
15,R08B,45870,Karachi,Karachi Plant,Revo,B,300.0,2,3.0,15.0,Team C
16,R09A,45901,Lahore,Lahore Plant,Yaris,A,500.0,1,2.0,20.0,Team A
17,R09B,45901,Karachi,Karachi Plant,Corolla Altis,B,600.0,3,12.0,300.0,Team B
18,R10A,45931,Lahore,Lahore Plant,Fortuner,A,150.0,0,1.0,5.0,Team C
19,R10B,45931,Karachi,Karachi Plant,Revo,B,200.0,2,3.0,10.0,Team A

In [22]:
df['scrap_weight'] = pd.to_numeric(df['scrap_weight'], errors='coerce')

In [23]:
import numpy as np

In [24]:
df

,record_id,date,city,plant,vehicle_variant,shift,units_checked,defects_found,repair_hours,scrap_weight,inspection_team
0,R01A,45658,Karachi,Karachi Plant,Corolla X,A,200.0,1,2.0,10.0,Team A
1,R01B,45658,Lahore,Lahore Plant,Yaris,B,150.0,0,1.0,5.0,Team B
2,R02A,45689,Karachi,Karachi Plant,Revo,A,300.0,2,3.0,15.0,Team A
3,R02B,45689,Lahore,Lahore Plant,Corolla Altis,B,NaN,?,2.0,20.0,Team C
4,R03A,45717,Karachi,Karachi Plant,Fortuner,A,600.0,3,12.0,300.0,Team A
5,R03B,45717,Lahore,Lahore Plant,Yaris,B,100.0,-5,1.0,NaN,Team B
6,R04A,45748,NaN,Karachi Plant,Corolla X,A,NaN,1,2.0,15.0,Team C
7,R04B,45748,Karachi,Karachi Plant,Revo,B,200.0,2,3.0,15.0,Team A
8,R05A,45778,Lahore,Lahore Plant,Corolla Altis,A,150.0,1,2.0,10.0,Team B
9,R05B,45778,Karachi,Karachi Plant,Yaris,B,300.0,3,2.0,20.0,Team C
10,R06A,45809,NaN,Karachi Plant,Revo,A,100.0,0,1.0,5.0,Team A
11,R06B,45809,Lahore,Lahore Plant,Corolla X,B,200.0,2,3.0,10.0,Team B
12,R07A,45839,Karachi,Karachi Plant,Fortuner,A,300.0,3,12.0,300.0,Team C
13,R07B,45839,Karachi,Karachi Plant,Yaris,B,150.0,0,1.0,10.0,Team A
14,R08A,45870,Lahore,Lahore Plant,Corolla X,A,200.0,1,2.0,5.0,Team B
15,R08B,45870,Karachi,Karachi Plant,Revo,B,300.0,2,3.0,15.0,Team C
16,R09A,45901,Lahore,Lahore Plant,Yaris,A,500.0,1,2.0,20.0,Team A
17,R09B,45901,Karachi,Karachi Plant,Corolla Altis,B,600.0,3,12.0,300.0,Team B
18,R10A,45931,Lahore,Lahore Plant,Fortuner,A,150.0,0,1.0,5.0,Team C
19,R10B,45931,Karachi,Karachi Plant,Revo,B,200.0,2,3.0,10.0,Team A

In [25]:
df['scrap_weight'].fillna(0, inplace=True)

C:\Users\PMLS\AppData\Local\Temp\ipykernel_39844\2943028706.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['scrap_weight'].fillna(0, inplace=True)

In [26]:
df

,record_id,date,city,plant,vehicle_variant,shift,units_checked,defects_found,repair_hours,scrap_weight,inspection_team
0,R01A,45658,Karachi,Karachi Plant,Corolla X,A,200.0,1,2.0,10.0,Team A
1,R01B,45658,Lahore,Lahore Plant,Yaris,B,150.0,0,1.0,5.0,Team B
2,R02A,45689,Karachi,Karachi Plant,Revo,A,300.0,2,3.0,15.0,Team A
3,R02B,45689,Lahore,Lahore Plant,Corolla Altis,B,NaN,?,2.0,20.0,Team C
4,R03A,45717,Karachi,Karachi Plant,Fortuner,A,600.0,3,12.0,300.0,Team A
5,R03B,45717,Lahore,Lahore Plant,Yaris,B,100.0,-5,1.0,0.0,Team B
6,R04A,45748,NaN,Karachi Plant,Corolla X,A,NaN,1,2.0,15.0,Team C
7,R04B,45748,Karachi,Karachi Plant,Revo,B,200.0,2,3.0,15.0,Team A
8,R05A,45778,Lahore,Lahore Plant,Corolla Altis,A,150.0,1,2.0,10.0,Team B
9,R05B,45778,Karachi,Karachi Plant,Yaris,B,300.0,3,2.0,20.0,Team C
10,R06A,45809,NaN,Karachi Plant,Revo,A,100.0,0,1.0,5.0,Team A
11,R06B,45809,Lahore,Lahore Plant,Corolla X,B,200.0,2,3.0,10.0,Team B
12,R07A,45839,Karachi,Karachi Plant,Fortuner,A,300.0,3,12.0,300.0,Team C
13,R07B,45839,Karachi,Karachi Plant,Yaris,B,150.0,0,1.0,10.0,Team A
14,R08A,45870,Lahore,Lahore Plant,Corolla X,A,200.0,1,2.0,5.0,Team B
15,R08B,45870,Karachi,Karachi Plant,Revo,B,300.0,2,3.0,15.0,Team C
16,R09A,45901,Lahore,Lahore Plant,Yaris,A,500.0,1,2.0,20.0,Team A
17,R09B,45901,Karachi,Karachi Plant,Corolla Altis,B,600.0,3,12.0,300.0,Team B
18,R10A,45931,Lahore,Lahore Plant,Fortuner,A,150.0,0,1.0,5.0,Team C
19,R10B,45931,Karachi,Karachi Plant,Revo,B,200.0,2,3.0,10.0,Team A

In [27]:
df['units_checked'].fillna(0, inplace=True)

C:\Users\PMLS\AppData\Local\Temp\ipykernel_39844\748647404.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['units_checked'].fillna(0, inplace=True)

In [28]:
df

,record_id,date,city,plant,vehicle_variant,shift,units_checked,defects_found,repair_hours,scrap_weight,inspection_team
0,R01A,45658,Karachi,Karachi Plant,Corolla X,A,200.0,1,2.0,10.0,Team A
1,R01B,45658,Lahore,Lahore Plant,Yaris,B,150.0,0,1.0,5.0,Team B
2,R02A,45689,Karachi,Karachi Plant,Revo,A,300.0,2,3.0,15.0,Team A
3,R02B,45689,Lahore,Lahore Plant,Corolla Altis,B,0.0,?,2.0,20.0,Team C
4,R03A,45717,Karachi,Karachi Plant,Fortuner,A,600.0,3,12.0,300.0,Team A
5,R03B,45717,Lahore,Lahore Plant,Yaris,B,100.0,-5,1.0,0.0,Team B
6,R04A,45748,NaN,Karachi Plant,Corolla X,A,0.0,1,2.0,15.0,Team C
7,R04B,45748,Karachi,Karachi Plant,Revo,B,200.0,2,3.0,15.0,Team A
8,R05A,45778,Lahore,Lahore Plant,Corolla Altis,A,150.0,1,2.0,10.0,Team B
9,R05B,45778,Karachi,Karachi Plant,Yaris,B,300.0,3,2.0,20.0,Team C
10,R06A,45809,NaN,Karachi Plant,Revo,A,100.0,0,1.0,5.0,Team A
11,R06B,45809,Lahore,Lahore Plant,Corolla X,B,200.0,2,3.0,10.0,Team B
12,R07A,45839,Karachi,Karachi Plant,Fortuner,A,300.0,3,12.0,300.0,Team C
13,R07B,45839,Karachi,Karachi Plant,Yaris,B,150.0,0,1.0,10.0,Team A
14,R08A,45870,Lahore,Lahore Plant,Corolla X,A,200.0,1,2.0,5.0,Team B
15,R08B,45870,Karachi,Karachi Plant,Revo,B,300.0,2,3.0,15.0,Team C
16,R09A,45901,Lahore,Lahore Plant,Yaris,A,500.0,1,2.0,20.0,Team A
17,R09B,45901,Karachi,Karachi Plant,Corolla Altis,B,600.0,3,12.0,300.0,Team B
18,R10A,45931,Lahore,Lahore Plant,Fortuner,A,150.0,0,1.0,5.0,Team C
19,R10B,45931,Karachi,Karachi Plant,Revo,B,200.0,2,3.0,10.0,Team A

In [33]:
df['defects_found'] = pd.to_numeric(df['defects_found'], errors='coerce')

In [36]:
df['defects_found'] = df['defects_found'].replace(-5.0, 5)

In [38]:
df

,record_id,date,city,plant,vehicle_variant,shift,units_checked,defects_found,repair_hours,scrap_weight,inspection_team
0,R01A,45658,Karachi,Karachi Plant,Corolla X,A,200.0,1.0,2.0,10.0,Team A
1,R01B,45658,Lahore,Lahore Plant,Yaris,B,150.0,0.0,1.0,5.0,Team B
2,R02A,45689,Karachi,Karachi Plant,Revo,A,300.0,2.0,3.0,15.0,Team A
3,R02B,45689,Lahore,Lahore Plant,Corolla Altis,B,0.0,<built-in function any>,2.0,20.0,Team C
4,R03A,45717,Karachi,Karachi Plant,Fortuner,A,600.0,3.0,12.0,300.0,Team A
5,R03B,45717,Lahore,Lahore Plant,Yaris,B,100.0,5,1.0,0.0,Team B
6,R04A,45748,NaN,Karachi Plant,Corolla X,A,0.0,1.0,2.0,15.0,Team C
7,R04B,45748,Karachi,Karachi Plant,Revo,B,200.0,2.0,3.0,15.0,Team A
8,R05A,45778,Lahore,Lahore Plant,Corolla Altis,A,150.0,1.0,2.0,10.0,Team B
9,R05B,45778,Karachi,Karachi Plant,Yaris,B,300.0,3.0,2.0,20.0,Team C
10,R06A,45809,NaN,Karachi Plant,Revo,A,100.0,0.0,1.0,5.0,Team A
11,R06B,45809,Lahore,Lahore Plant,Corolla X,B,200.0,2.0,3.0,10.0,Team B
12,R07A,45839,Karachi,Karachi Plant,Fortuner,A,300.0,3.0,12.0,300.0,Team C
13,R07B,45839,Karachi,Karachi Plant,Yaris,B,150.0,0.0,1.0,10.0,Team A
14,R08A,45870,Lahore,Lahore Plant,Corolla X,A,200.0,1.0,2.0,5.0,Team B
15,R08B,45870,Karachi,Karachi Plant,Revo,B,300.0,2.0,3.0,15.0,Team C
16,R09A,45901,Lahore,Lahore Plant,Yaris,A,500.0,1.0,2.0,20.0,Team A
17,R09B,45901,Karachi,Karachi Plant,Corolla Altis,B,600.0,3.0,12.0,300.0,Team B
18,R10A,45931,Lahore,Lahore Plant,Fortuner,A,150.0,0.0,1.0,5.0,Team C
19,R10B,45931,Karachi,Karachi Plant,Revo,B,200.0,2.0,3.0,10.0,Team A

# Saved Cleaned Data in CSV File

In [40]:
df.to_csv('cleaned_dataset_toyota.csv', index=False)